@model MyMvcApp.Models.Patient

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center user-name">Patient</h2>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientId" />
            <div class="row g-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label user-name"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label user-name"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label user-name"></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label user-name"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label user-name"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="PatientNumber" class="control-label user-name"></label>
                        <input asp-for="PatientNumber" class="form-control" />
                        <span asp-validation-for="PatientNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button asp-action="Index" class="btn btn-secondary">Back</button>
            </div>
        </form>
    </div>
</div>


